spring.application.name=bookings
spring.datasource.url=jdbc:mysql://localhost:3306/bookings?useSSL=false&serverTimezone=Europe/Warsaw&allowPublicKeyRetrieval=true
spring.datasource.username=user
spring.datasource.password=password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=false

keycloak.jwk-set-uri=http://localhost:8180/realms/booking/protocol/openid-connect/certs
keycloak.issuer-uri=http://localhost:8180/realms/booking

cors.allowed-origins=http://localhost:3000,http://localhost:5173

spring.mail.host=localhost
spring.mail.port=1025
spring.mail.properties.mail.smtp.auth=false
spring.mail.properties.mail.smtp.starttls.enable=false

mail.from=noreply@booking.local
mail.from-name=Booking